.bg-gradient-gold
{
    background: linear-gradient(87deg, #887100 0, #d9b600 100%) !important;
}

.text-gold
{
    color: #6b5b02 !important;
}


a.text-gold:hover,
a.text-gold:focus
{
    color: #352d01!important;
}
